body {
    text-align: center;
    background: rgba(132, 111, 111, 0.957);
}

h1 {
    text-align: center;
}

li {
    display: inline;
}

img {
    border-style: groove;
    border-width: 15px;
    margin-left: auto;
    margin-right: auto;
}

img.blender {
    border-style: groove;
    width: 1000px;
    border-color: #EA7600;
}

img.programming {
    border-style: groove;
    width: 600px;
    border-color: #091be9;
}

img.books {
    border-style: groove;
    width: 1000px;
    border-color: #dd2f49;
}

time {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 20px;
    width: 220px;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    white-space: pre;
}

.head-list {
    text-align: left;
    font-size: 25px;
    color: black;
    text-decoration: none;
    word-spacing: 30px;
    height: 50px;
    background-color: rgb(102, 99, 99);
}